.back-to-top {
  background-color: #EF5E99;
  padding: 5px;
  display: inline-flex;
  color: white;
  border-radius: 8.5px;
  justify-content: center;
  align-items: center;
  width: 150px;
  svg {
   margin-right: 7px;
  }
}

body.contrast-high {
  .back-to-top {
    color: $color-dark-highContrast !important;
    background-color: $color-light-highContrast !important;
  }
}

.back-to-top:hover {
  background-color: #f487b2 !important;
}

.app-c-back-to-top__icon{
  display: none;
}
